a,a:visited {
  color: #758AB5;
}

span {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.badge {
  font-size: 0.6em;
}

article {
  font-size: 16px;
  margin-top: 2.5em;
}

article>h4 {
  margin-top: 2em;
  font-weight:bold;
}

article>p {
  margin-top: 1em;
  text-indent:32px;
}

article>p>img {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-indent: -32px;
}

footer {
  border-top: 1px solid #DDD;
  margin-top: 3em;
  padding-top: 2.4em;
  padding-bottom: 3em;
}

.post-read-full:visited {
  color: #758AB5;
}

.post-read-full>small {
  font-size: 10px;
}

.post-title {
  font-weight: bold;
}

.post-title>a:visited {
  color: #758AB5;
}

.category>a,.category>span {
  font-size: bold;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.category>a:visited {
  color: #758AB5;
}

.ad, .history {
  margin-left: 30px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.share {
  margin-top: 2em;
  margin-left: 30px;
  padding: 0.3em;
  background-color: #CCC;
  border-radius: 3px;
}

.reference {
  background-color: #DDD;
  border-radius: 3px;
  padding: 0.3em
}

.reference > a, .reference > a:visited {
  color: #FFF;
}

.history-item, .history>p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
