---
layout: default
---

<div class="home">

  <h1 class="page-heading">娱乐头条</h1>
  <ul class="post-list">
    {% for post in site.categories["dailynews"] limit:10 %}
      <li>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta"><a href="{{ post.url | prepend: site.baseurl }}" class="post-read-full">阅读全文<smalL>>></small> </a></span>
        <hr>
      </li>
    {% endfor %}
  </ul>

  {% for post in site.categories['dailynews'] limit 1 %}
    <p>{{ post.content }}</p>
  {% endfor %}  

</div>
