<!DOCTYPE html>
<html  xmlns:wb="http://open.weibo.com/wb">

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container">

      <div class="row show">
        <div class="col-md-7 col-md-offset-1">
          {{ content }}
        </div>

        <div class="col-md-3 side-bar-right">

          <ul class="list-group">
            <a class="list-group-item active" href="/category">
              所有分类
            </a>
            {% for category in site.categories %} 
            <li class="list-group-item">
              <a href="/category/{{ category | first }}.html" title=”view all posts”>{{ category | first | upcase }} 
                <span class="badge"> {{ category | last | size }} </span> 
              </a> 
            </li> 
            {% endfor %} 
          </ul>

          <div class = "share">
              <wb:share-button appkey="2050907889" addition="full" type="button" ralateUid="1077585930" default_text="Conda的博客，为您提供精选数据科学家资讯！"></wb:share-button>
              <wb:livestream color="758AB5,758AB5,758AB5,111111,F0F1F3,F0F1F3" appkey="2050907889" topic="%E6%95%B0%E6%8D%AE%E7%A7%91%E5%AD%A6%E5%AE%B6|%E6%95%B0%E6%8D%AE%E7%A7%91%E5%AD%A6%E5%AE%B6" width="auto" listid="3936776559157360" uid="1077585930" height="500" ></wb:livestream>
          </div>

        </div>
      </div>

    {% include footer.html %}
    </div>
  </body>

</html>
