<!DOCTYPE html>
<html  xmlns:wb="http://open.weibo.com/wb">

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container">

      <div class="row show">
        <div class="col-md-7 col-md-offset-1">
          {{ content }}
        </div>

        <div class="col-md-3 side-bar-right">

          <div class = "share">
              <wb:share-button appkey="2050907889" addition="full" type="button" ralateUid="1077585930" default_text="{{ page.title }}  【Conda的博客】为您提供精选数据科学家资讯！"></wb:share-button>
          </div>

          <div class = "ad">
                <p>广告位招商<a href="mailto:business@rzaixian.com">business@rzaixian.com</a></p>
          </div>

        </div>
      </div>

    {% include footer.html %}
    </div>
  </body>

</html>
