<!DOCTYPE html>
<html  xmlns:wb="http://open.weibo.com/wb">

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container">

      <div class="row show">
        <div class="col-md-7 col-md-offset-1">
          {{ content }}
        </div>

        <div class="col-md-3 side-bar-right">

          <ul class="list-group">
            <a class="list-group-item active" href="/category">
              所有分类
            </a>
            {% for category in site.categories %} 
            <li class="list-group-item">
              <a href="/category/{{ category | first }}.html" title=”view all posts”>{{ category | first | upcase }} 
                <span class="badge"> {{ category | last | size }} </span> 
              </a> 
            </li> 
            {% endfor %} 
          </ul>

          <div class = "share">
              <wb:share-button appkey="2050907889" addition="full" type="button" ralateUid="1077585930" default_text="{{ page.title }}  【Conda的博客】为您提供精选数据科学家资讯！"></wb:share-button>
          </div>

          <div class = "ad">
                <p><a href="mailto:kehao.wu@gmail.com">免费广告位招商</a></p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 赞助商 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3540116740128967"
                     data-ad-slot="6221987535"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
          </div>

        </div>
      </div>

    {% include footer.html %}
    </div>
  </body>

</html>
