---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} 记住我的站点：<span class="text-success">http://www.how-to-code.info</span></p>
<article>
{{ content }}
<div class="reference">
<a class="text-success" href = "{{ site.url }}{{ page.url | prepend: site.baseurl }}">原文地址：{{ site.url }}{{ page.url | prepend: site.baseurl }}</a><br/>
<a class="text-success" href = "http://www.how-to-code.info">原文作者：{{ page.author }}</a>
</div>
</article>
